body {
  background-color: var(--background);
  color: var(--text-primary);
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --spalten-grid: 7;
}

/** Nav */

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--spalten-grid), 1fr);
  gap: 10px;
}

.container-calender {
  padding: 5px;
  border-radius: 10px;
  min-height: 100px;
  background-color: var(--border);
}

h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  display: flex;
  justify-content: end;
  margin-top: -2px;
}

/** Event */

.event {
  /*button settings*/
  border: none;
  background: none;

  color: var(--text-primary);
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 5px;
}

.event-color {
  width: 5px;
  height: 20px;
  border-radius: 15px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin-right: 5px;
  background-color: var(--entry-1);
}

.event-content {
  font-size: 14px;
}
