body {
  background: var(--background);
  color: var(--text-primary);
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --spalten-grid: 7;
}

.Week-day {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 200;

  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 22px;

  padding: 5px;
  border-radius: 10px;
}

.under-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

/** Grid – Calender-body */

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--spalten-grid), 1fr);
  gap: 10px;
}

.container-calender {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--calender-day);
  box-shadow: 0px 0px 10px var(--shadow);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.container-calender.active {
  z-index: 100;
}

.container-calender:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.calender-day-button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  padding: 0;
}

.calender-day-button h2 {
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  font-size: 1.2rem;
  display: flex;
  justify-content: end;
  margin-top: -1px;
}

/** Event */

.event {
  /*button settings*/
  border: none;
  background: none;

  color: var(--text-primary);
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 5px;
}

.event-color {
  width: 5px;
  height: 20px;
  border-radius: 15px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin-right: 5px;
  background-color: var(--entry-1);
}

.event-content {
  padding: 2px;
  font-size: 14px;
}

.event-content:hover {
  background-color: var(--entry-1);
  border-radius: 5px;
}

/**!  Darstellung von den Kalender Settings **/

.more-trenner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.more-header-top {
  display: flex;
  justify-content: space-between;
}

.trenner {
  border: none;
  height: 2px;
  background: #41414190;
  margin: 10px 0;
  border-radius: 2px;
}

#more-calender-day {
  z-index: 999;
  font-size: 1.2rem;
  color: var(--text-primary);
  position: absolute;

  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background-color: var(--more-calender-day);
  width: 400px;
}

#more-calender-day:hover {
  z-index: 999;
}

#more-calender-day input[type="text"],
textarea {
  outline: none;
  font-size: 1.2rem;
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  padding: 2px;
  border-radius: 10px;
  width: 300px;
}

.row {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  color: #9d9d9d;
  text-align: right;
  padding-right: 20px;
}

.datetime {
  display: flex;
  gap: 10px;
}

.datetime input,
.repeat-select {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Hintergrund */
.switch::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #555;
  border-radius: 30px;
  transition: 0.3s ease;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Kreis */
.switch::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* Aktiv */
.switch:has(input:checked)::before {
  background-color: var(--entry-1);
}

.switch:has(input:checked)::after {
  transform: translateX(27px);
}

/* Hover */
.switch:hover::before {
  filter: brightness(1.15);
}

.datetime input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.textarea-more {
  width: 100%;
  height: 100%;
  min-width: 100px;
}

[data-theme="light"] #more-calender-day input[type="text"]::placeholder,
[data-theme="light"] #more-calender-day textarea::placeholder,
.label {
  color: rgb(45, 45, 45);
}

[data-theme="dark"] #more-calender-day input[type="text"]::placeholder,
[data-theme="dark"] #more-calender-day textarea::placeholder,
.label {
  color: var(--text-primary);
}

[data-theme="light"] .datetime > input {
  color: black;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--entry-1);
}

select {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  outline: none;
}

.up-popup {
  transform: translateY(-110%);
}

.left-popup {
  transform: translateX(-100%);
}

.left-up-popup {
  transform: translateX(-100%) translateY(-110%);
}
