body {
  background: var(--background);
  color: var(--text-primary);
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --spalten-grid: 7;
}

.Week-day {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 200;

  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 22px;

  padding: 5px;
  border-radius: 10px;
}

.under-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

/** Grid – Calender-body */

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--spalten-grid), 1fr);
  gap: 10px;
}

.container-calender {
  padding: 5px;
  border-radius: 10px;
  min-height: 100px;
  background-color: var(--calender-day);
  box-shadow: 0px 0px 10px var(--shadow);
}

.container-calender:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  display: flex;
  justify-content: end;
  margin-top: -2px;
}

/** Event */

.event {
  /*button settings*/
  border: none;
  background: none;

  color: var(--text-primary);
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 5px;
}

.event-color {
  width: 5px;
  height: 20px;
  border-radius: 15px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin-right: 5px;
  background-color: var(--entry-1);
}

.event-content {
  padding: 2px;
  font-size: 14px;
}

.event-content:hover {
  background-color: var(--entry-1);
  border-radius: 5px;
}

/**!  Darstellung von den Kalender Settings **/

.more-trenner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(25px);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.more-header-top {
  display: flex;
  justify-content: space-between;
}

.trenner {
  border: none;
  height: 2px;
  background: #41414190;
  margin: 10px 0;
  border-radius: 2px;
}

#more-calender-day {
  font-size: 1.2rem;
  color: var(--text-primary);
  position: absolute;
  top: 200px;
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(3px);
  background-color: var(--calender-day);
  width: 400px;
}

#more-calender-day input[type="text"],
textarea {
  outline: none;
  font-size: 1.2rem;
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  padding: 2px;
  border-radius: 10px;
  width: 300px;
}

.row {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  color: #9d9d9d;
  text-align: right;
  padding-right: 20px;
}

.datetime {
  display: flex;
  gap: 10px;
}

.datetime input,
.repeat-select {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
}

.datetime input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.textarea-more {
  width: 100%;
  height: 100%;
  min-width: 100px;
}
