* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
}

:root {
  --shadow-distance: 10px;
  --shadow-blur: 10px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background);
}

#background {
  z-index: -2;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.login-box {
  padding: 50px 100px;
  background: rgba(20, 25, 35, 0.25);
  backdrop-filter: blur(5px);

  height: 700px;

  border: 1px solid rgba(158, 206, 250, 0.15);

  border-radius: 25px;

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.506),
    0 0 40px rgba(196, 223, 249, 0.156);

  transition: transform 0.2s ease;
}

.login-box:hover {
  transform: scale(1.05);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

input {
  padding: 14px;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 16px;

  width: 300px;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4338ca;
}

#btn-registrieren {
  background-color: transparent;
  font-size: 1.5rem;
}

#message {
  margin-top: 20px;
  text-align: center;
  color: red;
}

.auth-switch {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}
.auth-switch a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: bold;
}
.auth-switch a:hover {
  text-decoration: underline;
}

span {
  font-size: 1.5rem;
}

.register-link {
  cursor: pointer;
  transition: color 0.2s ease;
}

.register-link:hover {
  color: var(--accent);
  text-decoration: underline;
}

.form-content-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.input-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  width: 300px;
  margin: 0 auto;
  text-align: center;

  font-size: 1.5rem;
  line-height: 2;
  color: rgba(255, 255, 255, 0.75);

  letter-spacing: 0.3px;
}
