.week-grid {
  display: grid;
  position: absolute;
  width: 100%;
  grid-template-columns: 60px 1fr; /* Uhrzeiten-Spalte + Tages-Spalte */
  grid-template-rows: repeat(24, 60px); /* 24 Stunden, je 60px hoch */
  height: calc(100vh - 250px); /* Höhe des Viewports minus Header und Footer */
  overflow-y: auto; /* Scrollen, wenn Inhalt größer als Viewport */
  gap: 1px; /* Abstand zwischen den Zellen */
  margin-top : 20px;
}

.time-label {
  grid-column: 1;
  border-top: 1px solid var(--border);
  font-size: 12px;
  color: var(--text-secondary);
  text-align: right;
  padding-right: 5px;
}

.day-column {
  grid-column: 2;
  position: relative; /* für später absolut positionierte Events */
}

.hour-line {
  grid-column: 2;
  border-top: 1px solid var(--border);
}

.grid-container-weekDays {
  margin-left: 200px;
}