<!doctype html>
<html lang="de" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anmelden</title>

    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="stylesheet" href="/static/css/div-animation.css" />

    <link rel="stylesheet" href="/static/css/color.css" />
  </head>

  <body>
    <canvas id="background"></canvas>

    <div class="login-wrapper" id="div-anmelde-wrapper">
      <div class="login-box" id="div-anmeldung">
        <h1>Welcome Back</h1>

        <div class="postion">
          <form id="loginForm">
            <input type="text" id="username" placeholder="Username" required />

            <input type="email" id="email" placeholder="E-Mail" required />

            <input type="text" id="password" placeholder="Passwort" required />

            <span>
              Noch kein Acount?
              <a class="register-link" id="register-link">Jetzt Registrieren</a>
            </span>
            <button type="submit">Anmelden</button>
          </form>
        </div>
        <p id="message"></p>
      </div>
    </div>

    <script src="/static/js/login.js"></script>
    <script src="/static/js/bg.js"></script>
  </body>
</html>
