<!doctype html>
<html lang="de" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/color.css" />
    <link rel="stylesheet" href="/static/css/month-look.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-left">
        <button>
          <img src="/static/img/calender.svg" alt="" />
        </button>
        <button>
          <img src="/static/img/Plus.svg" alt="" />
        </button>
      </div>

      <div class="calender-look">
        <button id="day-view">Tag</button><button id="week-view">Woche</button
        ><button id="month-view">Monat</button
        ><button id="year-view">Jahr</button>
        <div id="view-content"></div>
      </div>

      <div class="nav-right">
        <div class="search-container">
          <button id="search-button">
            <img class="search-icon" src="/static/img/search.svg" alt="" />
          </button>
          <input id="search-input" type="search" placeholder="Suche..." />
        </div>
        <button id="profil-button">
          <div class="profile-avatar"></div>
        </button>
      </div>
    </nav>

    <div class="under-nav">
      <h1 id="month-title">Juni 2026</h1>
      <div class="nav-buttons">
        <button id="prev-month" class="nav-button">
          <img src="/static/img/links_pfeil.svg" alt="" />
        </button>
        <button id="today" class="nav-button">Heute</button>
        <button id="next-month" class="nav-button">
          <img src="/static/img/rechts_pfeil.svg" alt="" />
        </button>
      </div>
    </div>

    <div class="grid-container" id="grid-container">
      <div class="Week-day">Montag</div>
      <div class="Week-day">Dienstag</div>
      <div class="Week-day">Mittwoch</div>
      <div class="Week-day">Donnerstag</div>
      <div class="Week-day">Freitag</div>
      <div class="Week-day">Samstag</div>
      <div class="Week-day">Sonntag</div>
    </div>

    <template id="calender-day">
      <div class="container-calender">
        <h2 class="date-headline">date</h2>
        <div class="content"></div>
      </div>
    </template>

    <template id="Event">
      <button class="event">
        <div class="event-color"></div>
        <span class="event-content"></span>
      </button>
    </template>

    <script src="/static/js/month-look.js"></script>
    <script src="/static/js/nav.js"></script>
  </body>
</html>
