<!doctype html>
<html lang="de" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/color.css" />
    <link rel="stylesheet" href="/static/css/month-look.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-left">
        <button>
          <img src="/static/img/calender.svg" alt="" />
        </button>
        <button>
          <img src="/static/img/Plus.svg" alt="" />
        </button>
      </div>

      <div class="calender-look">
        <button id="day-view">Tag</button><button id="week-view">Woche</button
        ><button id="month-view">Monat</button
        ><button id="year-view">Jahr</button>
        <div id="view-content"></div>
      </div>

      <div class="nav-right">
        <div class="search-container">
          <button id="search-button">
            <img class="search-icon" src="/static/img/search.svg" alt="" />
          </button>
          <input id="search-input" type="search" placeholder="Suche..." />
        </div>
        <button id="profil-button">
          <div class="profile-avatar"></div>
        </button>
      </div>
    </nav>

    <div class="under-nav">
      <div id="month-title">
        <div class="month-name">Januar</div>

        <div class="month-picker">
          <div class="month-list" id="monthList"></div>
        </div>

        <div class="year-picker">
          <div class="year-list" id="yearList"></div>
        </div>
      </div>
      <div class="nav-buttons">
        <button id="prev-month" class="nav-button">
          <img src="/static/img/links_pfeil.svg" alt="" />
        </button>
        <button id="today" class="nav-button">Heute</button>
        <button id="next-month" class="nav-button">
          <img src="/static/img/rechts_pfeil.svg" alt="" />
        </button>
      </div>
    </div>

    <div class="grid-container" id="grid-container">
      <div class="Week-day">Montag</div>
      <div class="Week-day">Dienstag</div>
      <div class="Week-day">Mittwoch</div>
      <div class="Week-day">Donnerstag</div>
      <div class="Week-day">Freitag</div>
      <div class="Week-day">Samstag</div>
      <div class="Week-day">Sonntag</div>
    </div>

    <template id="calender-day">
      <button class="calender-day-button">
        <div class="container-calender">
          <h2 class="date-headline">date</h2>
          <div class="content"></div>
        </div>
      </button>
    </template>

    <template id="Event">
      <button class="event">
        <div class="event-color"></div>
        <span class="event-content"></span>
      </button>
      <div class="append-more"></div>
    </template>

    <template id="More-Envent-Info">
      <div id="more-calender-day">
        <div class="more-trenner">
          <div class="more-header-top">
            <input type="text" placeholder="Name" />

            <div class="select-container">
              <div class="circle"></div>
              <select id="fach">
                <option>Mathe</option>
                <option>Deutsch</option>
                <option>Englisch</option>
                <option>Informatik</option>
              </select>
            </div>
          </div>
          <hr class="trenner" />
          <input type="text" placeholder="Standort" />
        </div>
        <div class="more-trenner">
          <div class="event-card">
            <div class="row">
              <span class="label">Ganztägig:</span>
              <label class="switch">
                <input type="checkbox" />
              </label>
            </div>

            <div class="row">
              <span class="label">Startet:</span>

              <div class="datetime">
                <input type="date" value="2026-07-15" />
                <input type="time" value="15:30" />
              </div>
            </div>

            <div class="row">
              <span class="label">Endet:</span>

              <div class="datetime">
                <input type="date" value="2026-07-15" />
                <input type="time" value="16:30" />
              </div>
            </div>

            <div class="row">
              <span class="label">Wiederholen:</span>

              <select class="repeat-select">
                <option>Nie</option>
                <option>Täglich</option>
                <option>Wöchentlich</option>
                <option>Monatlich</option>
                <option>Jährlich</option>
              </select>
            </div>
          </div>
        </div>
        <div class="more-trenner">
          <textarea
            name="Notizen"
            title="Notizen"
            class="textarea-more"
            placeholder="Notizen hinzufügen..."
          ></textarea>
        </div>
      </div>
    </template>

    <script src="/static/js/month-look.js"></script>
    <script src="/static/js/nav.js"></script>
  </body>
</html>
