<!doctype html>
<html lang="de" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/color.css" />
    <link rel="stylesheet" href="/static/css/month-look.css" />
    <link rel="stylesheet" href="/static/css/week-look.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/sidebar.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app-layout">
      <aside class="sidebar" id="Kalender-sidbar">
        <div class="sidebar-section">
          <h3>Navigation</h3>

          <button class="sidebar-item">📅 Kalender</button>
          <button class="sidebar-item">📝 Aufgaben</button>
          <button class="sidebar-item">👤 Profil</button>
          <button class="sidebar-item">⚙ Einstellungen</button>
        </div>

        <div class="sidebar-section">
          <div class="kalender-headline">
            <h3>Kalender</h3>
            <div id="add-kalender-container">
              <button id="add-kalender">
                <img src="/static/img/Plus.svg" alt="" />
              </button>

              <div class="sheet" id="sheet">
                <div class="top-bar">
                  <div class="top-bar-left">
                    <button class="icon-btn close-sheet-btn">
                      <img
                        class="icon-btn-img"
                        src="/static/img/close.svg"
                        alt=""
                      />
                      <!--<svg
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#fff"
                        stroke-width="2"
                        stroke-linecap="round"
                      >
                        <line x1="6" y1="6" x2="18" y2="18" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                      </svg>
                    --></button>
                    <button
                      id="back-button"
                      class="icon-btn"
                      aria-label="Zurück"
                    >
                      <img
                        class="icon-btn-img img-back"
                        src="/static/img/back.svg"
                        alt=""
                      />
                      <!--  <svg
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                        fill="none"
                        stroke="#fff"
                        stroke-width="5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M15 18l-6-6 6-6" />
                      </svg>
                    --></button>
                  </div>

                  <h1>Hinzufügen</h1>

                  <button class="icon-btn check-btn" id="save-btn">
                    <img
                      class="icon-btn-img"
                      src="/static/img/check.svg"
                      alt=""
                    />
                    <!--
                    <svg
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#fff"
                      stroke-width="2.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <polyline points="20 6 9 17 4 12" />
                    </svg>
                  --></button>
                </div>

                <div id="sheet-append"></div>
              </div>
            </div>
          </div>

          <div id="calendar-list">
            <button class="sidebar-item">
              <label class="custom-checkbox">
                <input type="checkbox" />
                <span class="checkmark"></span>
                <span class="text">Kalender</span>
              </label>
            </button>
          </div>
        </div>
      </aside>

      <div class="main-content">
        <nav class="nav">
          <div class="nav-left">
            <button id="Kalender-siebar-btn">
              <img src="/static/img/calender.svg" alt="" />
            </button>
            <button id="add-Event">
              <img src="/static/img/Plus.svg" alt="" />
            </button>
            <div id="append-Event"></div>
          </div>

          <div class="calender-look">
            <button id="day-view" onclick="window.location.href = '/day-look'">
              Tag</button
            ><button
              id="week-view"
              onclick="window.location.href = '/week-look'"
            >
              Woche</button
            ><button
              id="month-view"
              onclick="window.location.href = '/month-look'"
            >
              Monat</button
            ><button
              id="year-view"
              onclick="window.location.href = '/year-look'"
            >
              Jahr
            </button>
            <div id="view-content"></div>
          </div>

          <div class="nav-right">
            <div class="search-container">
              <button id="search-button">
                <img class="search-icon" src="/static/img/search.svg" alt="" />
              </button>
              <input id="search-input" type="search" placeholder="Suche..." />
              <div id="search-append"></div>
            </div>
            <button id="profil-button">
              <span class="profile-name">Benutzer Name </span>
              <div class="profile-avatar"></div>
            </button>
          </div>
        </nav>

        <div class="under-nav">
          <div id="month-title">
            <h1 class="month-name">Januar</h1>
            <div class="month-picker">
              <div class="month-list" id="monthList"></div>
            </div>
            <div class="year-picker">
              <div class="year-list" id="yearList"></div>
            </div>
          </div>
          <div class="nav-buttons">
            <button id="prev-month" class="nav-button">
              <img src="/static/img/links_pfeil.svg" alt="" />
            </button>
            <button id="today" class="nav-button">Heute</button>
            <button id="next-month" class="nav-button">
              <img src="/static/img/rechts_pfeil.svg" alt="" />
            </button>
          </div>
        </div>

        <div class="grid-container-weekDays">
          <div class="Week-day">Montag</div>
          <div class="Week-day">Dienstag</div>
          <div class="Week-day">Mittwoch</div>
          <div class="Week-day">Donnerstag</div>
          <div class="Week-day">Freitag</div>
          <div class="Week-day">Samstag</div>
          <div class="Week-day">Sonntag</div>
        </div>
        <div class="week-grid">
          <!-- Uhrzeiten -->
          <div class="time-label" style="grid-row: 1">00:00</div>
          <div class="time-label" style="grid-row: 2">01:00</div>
          <!-- ... bis 24 -->

          <!-- Linien in der Tages-Spalte -->
          <div class="hour-line" style="grid-row: 1"></div>
          <div class="hour-line" style="grid-row: 2"></div>
          <!-- ... bis 24 -->
        </div>
        <div id="week-append"></div>
      </div>
    </div>

    <!--*-->
    <!--*-->
    <!--* hier beginnen die Templates  -->
    <!--*-->

    <template id="event-template">
      <div class="event" data-event-id="">
        <div class="event-color"></div>
        <div class="event-details">
          <h3 class="event-title"></h3>
          <p class="event-time"></p>
        </div>
      </div>
    </template>

    <script src="/static/js/calendar-colors.js"></script>
    <script src="/static/js/main_settings.js"></script>
    <script src="/static/js/time.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/nav-week.js"></script>
    <script src="/static/js/week-look.js"></script>
    <script src="/static/js/profil.js"></script>
    <script src="/static/js/Kalender-sidbar.js"></script>
  </body>
</html>
